<!DOCTYPE html>
<html>
  <head>
    <title>Virtual Sensors</title>
    <link href="/public/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/public/dash.css">
    <link rel="stylesheet" type="text/css" href="/public/holo.css">
    <link rel=icon type="image/png" href="/public/images/bluemix-icon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <a class="navbar-brand" rel="home" href="#" title="Virtual Sensors">
         <img style="max-width:35px;margin-top:-10px;margin-right:-15px;"
          src="/public/images/bluemix-icon.png">
      </a>
      <a class="navbar-brand" href="/">Virtual Sensors</a>
      {{#if username}}
      <a class="navbar-brand rightinfo" href="/api/v1/auth/logout?redirect=true">Log out</a>
      {{/if}}
    </nav>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    {{{body}}}
    <script src="/public/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
