<div class="flex-container" id="cardcontainer">
</div>

<script>
  $(function () {
    var refreshCards = function() {
      $.get('/cards', function(data, success) {
        $('#cardcontainer').html(data);
      });
    };
    refreshCards();
    setInterval(refreshCards, 2000);
  })
</script>
