<html>
  <head>
    <title>Virtual Sensors</title>
  </head>
  <body>
    Hello!
    <form action="/api/v1/auth/login" method="POST">
      <input name="username"></input>
      <input name="password" type=password></input>
      <button action=submit>Submit</button>
    </form>
  </body>
</html>
