<div class="flex-container">
  <div class="oauthprompt">
    <p>
      Welcome to <a href="/">Virtual Sensors</a>. Press the button below to sign in with
      a google account.
    </p>
    <a href="{{oauthurl}}">
      <img class="centerbutton" width=257 src="/public/images/login.png">
    </a>
  </div>
</div>
