body {
  background-color: #3b4b54;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
  padding: 18px;
  padding-top: 70px;
}

.navbar {
  background-color: #26343f;
  border-bottom: rgba(122, 137, 145, 0.3);
  box-shadow: 0px 0px 5pt 1pt rgba(0, 0, 0, 0.3);
}

.navbar-default .navbar-brand {
  color: #fff;
  font-size: 17px;
}

.outlinebox {
  width: 275px;
  height: 251px;
  float: left;
  position: relative;
  background-color: #fff;
  padding-top: 16px;
  margin-right: 16px;
  margin-top: 16px;
  box-shadow: 0px 0px 5pt 1pt rgba(0, 0, 0, 0.3);
}

.outlinecontrols {
  width: 100%;
  height: 201px;
  background-color: #fff;
  padding-top: 8px;
  text-align: center;
}

.uparrow, .downarrow, .numberval {
  font-size: 44px;
  margin:-20px;
}

.uparrow {
  margin-top:-10px;
  color: #622;
}

.downarrow {
  color: #00aed1;
}

.outlinefooter {
  background-color: #eee;
  border-top: rgba(148, 163, 171, 0.3);
  background-color: #e9f1f4;
}

.outlinebox h1 {
  font-size: 28px;
  text-align: center;
  padding-top: 4px;
}

.outlinebox img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
